<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>urlcheck: %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST:-codeaim-elk.westeurope.cloudapp.azure.com}:${LOGSTASH_PORT:-5000}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <message/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <callerData/>
                <stackTrace/>
                <context/>
                <contextName/>
                <mdc/>
                <tags/>
                <logstashMarkers/>
                <arguments/>
                <pattern>
                    <pattern>
                        {
                            "application-name": "${SPRING_APPLICATION_NAME}",
                            "application-dyno": "${DYNO}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <appender name="PAPERTRAIL" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>${PAPERTRAIL_HOST:-localhost}</syslogHost>
        <port>${PAPERTRAIL_PORT:-515}</port>
        <facility>USER</facility>
        <suffixPattern>${SPRING_APPLICATION_NAME} %-4relative [%thread] %-5level %logger{35} - %msg %n</suffixPattern>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="PAPERTRAIL"/>
    </root>
</configuration>